/* ----------------------- */
/* --Custom properties---- */
/* ----------------------- */

:root {
   /*colors*/
   --clr-dark: 0 0% 0%;
   --clr-main: 53 97% 51%;
   --clr-secondary: 25 100% 52%;
   --clr-white: 0 0% 100%;
   
/*font-sizes*/
--fs-1100: 9.375rem; /*150x*/
--fs-1000: 6.25rem; /*100px*/
--fs-900: 4.5rem; /*72px*/
--fs-800: 3.5rem; /*56px*/
--fs-700: 3rem; /*48px*/
--fs-600: 2rem; /*32px*/
--fs-500: 1.75rem; /*28px*/
--fs-400: 1.125rem; /*18px*/
--fs-300: 1rem; /*16px*/
--fs-200: 0.875rem; /*14px*/

/*font-family*/
--ff-serif: "Raleway", serif;
--ff-sans: "Open sans", sans-serif;


}

.uppercase {
    text-transform: uppercase;
}

/* -------------- */
/* -----RESET---- */
/* -------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
h1,
h2,
h3,
h4,
h5,
body,
p,
picture,
figure {
    margin:0;
}

/* Set up the body  */

html{
    height: -webkit-fill-available;
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-sans);
    font-size: var(--fs-400);
    color:hsl(var(--clr-dark));
    height: 100vh;
    line-height: 1.4;
    min-height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;

    overflow-x:hidden;
}

/* Make images easier to work */
img,
picture {
    max-width: 100%;
}

/* Make form elements easier to work*/
input,
select,
button,
textarea {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them (Accesibility Recourse piccali.li*/
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* ------------------ */
/* -UTILITY CLASES-- */
/* ----------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);

}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.a-self{
    align-self: center;
}

.a-item{
    align-items: center;
}

.j-content{
    justify-content: center;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin:0 auto;
}

.col {
    width:100%
}

header {
    background-color: var(--clr-dark);
    text-align: center;
}

header >div{
    display: flex;
}

.logo{
    margin: 1.5rem 0;
}

.nav {
    width: 100%;
}

.dot-indicators{
    justify-content: center;
}

.hero{
    margin-top: 2em;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
}

/*Colors */

.bg-dark { background-color: hsl(var(--clr-dark));}
.bg-yellow {background-color: hsl(var(--clr-yellow));}
.bg-white { background-color: hsl(var(--clr-white));}

.text-dark { color: hsl(var(--clr-dark));}
.text-dark { color: hsl(var(--clr-dark));}
.text-dark { color: hsl(var(--clr-dark));}

/*Typography */

.ff-serif {font-family: var(--ff-serif);}
.ff-sans {font-family: var(--ff-sans);}

.letter-spacing-1  {letter-spacing: 4.75px;}
.letter-spacing-2  {letter-spacing: 2.7px;}
.letter-spacing-1  {letter-spacing: 2.35px;}

.fs-900 {font-size: var(--fs-900);}
.fs-800 {font-size: var(--fs-800);}
.fs-700 {font-size: var(--fs-700);}
.fs-600 {font-size: var(--fs-600);}
.fs-500 {font-size: var(--fs-500);}
.fs-400 {font-size: var(--fs-400);}
.fs-300 {font-size: var(--fs-300);}
.fs-200 {font-size: var(--fs-200);}

.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}

/* General */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flex.even-columns > * {
    width: 100%;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}



/* ----------------- */
/* ---COMPONENT----- */
/* ----------------- */

/* Primary header */

.logo{
    margin: 1.5rem clamp(1.5rem, 5vw, 4rem);
}

.primary-header{
    align-items:center;
    justify-content: space-between;
    background-color: hsl(var(--clr-main));
}


.primary-navigation{
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin:0;
}

.primary-navigation a{
    text-decoration: none;
    margin-right: 1em;
}

.mobile-nav-toggle{
    display: none;
}

@media(max-width:35em){
    .primary-navigation{
        --underline-gap: 0.5rem;
        position: fixed;
        inset: 0 0 0 20%;
        z-index:1000;
        padding: min(20rem, 15vh);
        margin:0;
        z-index:1000;
        list-style: none;
        flex-direction: column;
        background-color: hsl(var(--clr-main));
        transform: translateX(100%);
        transition: transform ease-in-out;

    }

    .primary-navigation[data-visible='true']{
        transform: translateX(0);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index:2000;
        right: 3rem;
        top: 2rem;
        background: transparent;
        background-image: url(img/icon-hamburger.svg);
        background-repeat:no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio:1;
        border: 0;
        cursor: pointer;
    }

    .mobile-nav-toggle[aria-expanded='true']{
        background-image: url(img/icon-close.svg);
    }

    .mobile-nav-toggle:focus-visible{
        outline:5px solid white;
        outline-offset: 5px;
    }

    .contact >div{
        text-align: center;
    }
}

@media (min-width: 35em){
    .primary-navigation, .contact{
        padding-inline: clamp(3rem, 7vw, 7rem);
    }

}

@media(min-width: 45em){
    .primary-navigation{
        margin-block:2rem;
    }
}


/* ---------- */
/* --BUTTON-- */
/* --------- */

 .button {
    display: inline-flex;
	background: hsl(var(--clr-dark));
    padding: 1em 2em;
    border-radius: 2em;
    color: hsl(var(--clr-white));
	position: relative;
    text-decoration: none;
    transition: 0.3s ease all;
	position:relative;
	overflow:hidden;
    margin-top: 1.5em;
}

.button span {
	position:relative;
	z-index:2;
	transition: 0.3s ease all;
}

.button::after {
	content: "";
	width: 100%;
	height:100%;
	background: hsl(var(--clr-secondary));
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	transition: 0.3s ease-in-out all;
}

.button:hover::after{
	top:0;
	}

/* ---------- */
/* -- DOTS -- */
/* ---------- */

.dot-indicators > * {
        cursor: pointer;
        border: 0;
        border-radius: 50%;
        padding: .5em;
        background-color: hsl(var(--clr-dark)/ .25) ;
 }
     
.dot-indicators > *:hover,
.dot-indicators > *:focus { 
        background-color: hsl(var(--clr-secondary)/ .5);
    }
    
.dot-indicators > [aria-selected="true"] {
        background-color: hsl( var(--clr-secondary) / 1); 
    }

/* ---------- */
/* Card     */
/* --------- */
.card{
    background-color: hsl( var(--clr-main));
    flex-direction: column;
    align-items: center;
    padding: 2em 4em;
    margin: 2em 0em;
    border-radius: 1em;
}

i:hover{
    color: hsl( var(--clr-secondary));
}

.services, .projects, .statics{
    text-align: center;
    margin-top: 3em;
}

/* -------------------------*/
/* -------PROJECTS -------- */
/* -------------------------*/

.projects-container >article{
    position: relative;
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 1em;
    margin-bottom: 2em;
}

.projects .project .project-overlay{
    width: 0%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: hsl( var(--clr-main));
	overflow: hidden;
    border-radius: 1em;
	transition: .5s ease;
}

.projects .project:hover .project-overlay {
    width: 100%;
    opacity: 0.8;
}

.overlay-text {
	top: 50%;
	left: 50%;

	position: absolute;
	white-space: nowrap;
	color: hsl(var(--clr-dark));
	transform: translate(-50%, -50%);
	overflow: hidden;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.projects >h2{
    margin: 1em 0em;
}

/* -------------------------*/
/* -------STATICS --------- */
/* -------------------------*/

.statics {
    background-color: hsl( var(--clr-secondary));

}

.statics div>h2{
    margin: 1em 0em;
}

.static{
    padding: 3em 0em;

}

.character {
    color: hsl( var(--clr-dark));
}

/* -------------------------*/
/* -------FOOTER ---------- */
/* -------------------------*/

footer{
    background-color: hsl( var(--clr-main));
    color: hsl( var(--clr-dark));
    padding: 2em 0em;
    text-align: center;
    line-height: 2.5em;

    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}

.copyright {
    text-align: center;
    background-color: hsl( var(--clr-main)/0.5);
}

.copyright i {
    color: hsl( var(--clr-secondary));
}

footer a {
    text-decoration: none;
    list-style: none;
}



/* -------------------------*/
/* -------Whataspp--------- */
/* -------------------------*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/* -------------------------*/
/* -------COUNTER----------- */
/* -------------------------*/

@keyframes show {
    0% {
        opacity: 0.5;
        transform: translateY(100px);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hide {
    opacity: 0%;
}

.animate{
    animation: show 1.3s;
}

/* -------------------------*/
/* -------LAYOUT----------- */
/* -------------------------*/

.grid-container {
    display: grid;
    text-align: center;
    place-items:center;
    padding-inline: 1rem;
}

@media (min-width: 35em){

}

@media (min-width: 45em){
    .row {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(1rem, 1fr) 
        repeat (2, minmax((0, 30rem)) minmax(1rem, 1fr));
    }

    .container {
        flex-direction: row;
        gap: 2em;
    }

    .hero__image{
        max-width: 40%;
    }

    .card {
        max-width: 20%;
    }

    .projects-container article:last-child {
        margin-top: 2em;
     }



    footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
}


